<%- include("includes/head", {title: 'Welcome'}) %>
  </head>
  <body>
    <header id="main-header"><%- include("includes/header") %></header>
    <main>
      <h1>Welcome to this demo!</h1>
      <p>In this demo project you can create accouts & log in with accounts.</p>
      <p>
        In addition, on the <a>/admin_Page</a>, you can perform CRUD operations
        on blog posts.
      </p>
      Please note: There are no "user-facing" views (for non-logged-in users)
      for those blog posts.
    </main>
  </body>
</html>
