<form action="/posts" method="POST">
  <input type="hidden" value="<%= csrfToken%>" name="_csrf" />
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" />
  </div>
  <div class="form-control">
    <label for="content">Content</label>
    <textarea
      name="content"
      id="content"
      name="content"
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <button class="btn">Save</button>
</form>
