<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head") %>
  <body>
    <!-- render html (- does not escape content as = does)-->
    <%- include("includes/header") %> <%- include("includes/aside") %>
    <main>
      <h1>Page not found!</h1>
      <p>Unfortunately, we weren't able to find this page.</p>
    </main>
  </body>
</html>
