<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head") %>
  <body>
    <!-- render html (- does not escape content as = does)-->
    <%- include("includes/header") %> <%- include("includes/aside") %>
    <main>
      <h1>Page not found!</h1>
      <p>
        Unfortunately, something went wrong on the server - we're doing our best
        to fix it as soon as possible.
      </p>
    </main>
  </body>
</html>
